body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #222;
}

#status {
    margin: 30px auto;
    padding: 20px;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
}
