body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
}

header {
    background: #2563eb;
    color: white;
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    padding: 10px 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

main {
    width: 85%;
    max-width: 1100px;
    margin: 40px auto;
}

.filtros {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.filtros input,
.filtros select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.filtros input {
    flex: 1;
}

.video {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.video a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 7px;
}