body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
}

header {
    background: #2563eb;
    color: white;
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
}

header button {
    border: none;
    padding: 10px 18px;
    border-radius: 7px;
    cursor: pointer;
}

main {
    width: 85%;
    max-width: 900px;
    margin: 40px auto;
}

.formulario {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

select,
input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

textarea {
    height: 130px;
    resize: vertical;
}

#enviar {
    margin-top: 20px;
    padding: 12px 20px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.duvida {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}